<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask question</title>
</head>
<body>
    <h2>Ask Your Question</h2>
    <p>
    </p>
    <form method="POST">
    <label for="title">Your title</label><br>
    <textarea minlength="10" rows="1" cols="50" name="title" id="title"></textarea><br>
    <label for="message">Your question</label><br>
    <textarea rows="10" cols="50" name="question" id="question"></textarea>
    <p>
    </p>
    <input type="submit" value="Submit Question">
    </form>
</body>
</html>