<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ask question</title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='beauty.css') }}">
    <h2>Ask Your Question</h2>
    <p>
    </p>
    <form method="POST">
    <label for="title" id="your_title">Your title</label><br>
    <textarea rows="1" cols="50" name="title" id="title" required></textarea><br>
    <label for="message" id="your_question">Your question</label><br>
    <textarea minlength="10" rows="10" cols="50" name="question" id="question" required></textarea>
    <p>
    </p>
    <input type="submit" value="Submit Question" id="submit">
    </form>
</body>
</html>