<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <title> AskMate </title>
</head>

<body>
<table border='1'>
    <tr>
        {% set headers = questions[0] %}
            {% for key, value in headers.items()|sort %}
            <th> {{ key }} </th>
            {% endfor %}
    </tr>
        {% for field in questions|sort(attribute='id') %}
        <tr>
            {% for key, value in field.items()|sort %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
</table>
<div>
    <form action ='/new-question' method='get' name="New question" id="New question" >
    <input type="submit" value="Add a question">
    </form>
</div>
</body>